/* Content grid */
.contentGridContainer {
  position: relative;
  background-color: #FFFFFF;
  width: max(calc(100% - 32px), calc(100% - 160px));
  margin: 40px auto;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  border: 1px solid var(--dark-rock-800) !important;
  border-top: none;
  overflow: hidden;
  z-index: 3;
}

.contentGrid {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

}

.contentCard {
  padding: 50px 20px;
  height: min-content;
  border: 1px solid var(--dark-rock-800);
  border-top: none;
}

@media(min-width: 1024px) {
  .contentGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contentGridContainer {
    border-top: 1px solid;
    border-radius: 25px;
    margin: 0 auto;
  }

}
