/* Top block */

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 15px;
  column-gap: 20px;
}

.hubLogo {
  display: flex;
  background-color: var(--sub-purple-600);
  border-radius: 45px;
  font-family: var(--colfax);
  color: white;
  align-items: flex-end;
  line-height: 48px;
  font-size: var(--size-48);
  padding-bottom: 20px;
  padding-left: 40px;
}

.highlights {
  padding: 30px 20px;
}

.topHighlight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 45px;
  background-color: var(--sub-purple-400);
  color: var(--soft-white-100);
}

.bottomHighlight {
  display: none;
}

.categoryPill {
  color: var(--sub-blue-800);
  background-color: var(--sub-blue-100);
  height: 28px;
  padding: 4px 20px;
  border-radius: 100px;
  font-family: var(--colfax);
  font-weight: bold;
  font-size: var(--size-10);
  align-content: center;
}









@media (min-width: 1024px) {

  /* Head block */
  .headBlock {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .hubLogo {
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: var(--size-113);
    line-height: 1;
  }

  .topHighlight {
    grid-column: 2;
  }

  .bottomHighlight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 45px;
    border: 1px solid var(--dark-rock-800);
    grid-column: 2;
  }

  .categoryPill {
    font-size: var(--size-16);
  }




}
