.footer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 0.5fr);
  font-family: Colfax, sans-serif;
  padding: 40px;
  line-height: 14px;
}

.footer h5 {
  color: var(--sub-blue-700);

}


.goToNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


@media (min-width: 1080px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    line-height: 20px;

  }

}


