.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 0.5fr);
  font-family: Colfax, sans-serif;
  column-gap: 60px;
  padding: 0 10px 0 10px;
}

.footer h5 {
  color: var(--sub-blue-700);
  margin-bottom: 20px;
}

.item {
  padding-top: 40px;
}

.goToNav {
  width: 80%;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 20px;
}

@media (min-width: 1080px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding: 32px 302px 32px 302px;
  }

}


