.backButton {
  display: block;
  font-family: Colfax, sans-serif;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.container {
  background-color: var(--sub-purple-400);
  color: var(--soft-white-100);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.contentContainer {
  display: grid;
  grid-template-rows: 2fr;
  font-family: var(--colfax);
  padding-bottom: 40px;
}

.sharingAndCategories {
  grid-row-start: 1;
}

.chapters {
  display: none;
}



@media (min-width: 1080px) {
  .container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }

  .backButton {
    padding-left: 95px;
    color: var(--soft-white-100);
  }

  .contentContainer {
    width: calc(100% - 40px);
    margin: 20px auto;
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 0.3fr;
  }

  .chapters {
    display: flex;
    padding: 20px;
    justify-content: right;
    grid-column: 1 / 1;
  }

  .content {
    grid-column: 2/2;
  }

  .sharingAndCategories {
    justify-content: left;
    grid-column: 3 / 3;
  }


}


