/* Content nav */
.contentNav {
  display: flex;
  position: relative;
  padding: 0;
  width: var(--content-width);
  margin: -58px auto;
  flex-wrap: wrap;
  z-index: 2;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: fit-content;
  position: relative;
}

.activeButton {
  z-index: 1;
}


.blogpostsButton {
  margin-left: -120px;
}

.podcastsButton {
  margin-left: -120px;
}

.caseStudiesButton {
  margin-left: -120px;
}

.talksButton {
  margin-left: -80px;
}
