/* Content nav */
.contentNav {
  display: flex;
  position: relative;
  padding: 0;
  width: var(--content-width);
  margin: auto auto -48px;
  flex-wrap: wrap;
  z-index: 5;
  font-size: 12px;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: fit-content;
  position: relative;
  display: none;
}

.activeButton {
  z-index: 1;
}


.blogpostsButton {
  margin-left: -120px;
}

.podcastsButton {
  margin-left: -120px;
}

.caseStudiesButton {
  margin-left: -120px;
}

.talksButton {
  margin-left: -80px;
}

@media (min-width: 1024px) {
  .contentNav {
    margin: auto auto -18px;
    z-index: 0;
  }

  .button {
    display: flex;
  }
}
