.contactUsPill {
  border: 1px solid;
  border-radius: 33px;
  width: 161px;
  height: 66px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.contactUsPill:hover {
  color: var(--sub-blue-800)
}

.container {
  font-family: var(--colfax);
  display: flex;
  align-items: center;
  gap: 27px;
  padding: 60px 20px 20px 20px;
  font-size: 20px;
  justify-content: space-between;
}

.navbar {
  display: none;
  align-items: center;
  gap: 27px;
}

.dropDownIcon {
  display: flex;
  cursor: pointer;
}

@media (min-width: 1080px) {

  .container {
    padding: 20px 40px 20px 80px;
    margin: auto;
  }


  .navbar {
    display: flex;
  }

  .dropDownIcon {
    display: none;
  }
}
