.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  background-color: var(--sub-purple-50);
  color: var(--sub-purple-400);
  border-radius: 25px;
  margin: 40px auto;
  padding: 20px;
  width: var(--content-width);
  font-family: var(--colfax);
}

.CTABlock {
  height: min-content;
}

.emailContainer {
  display: flex;
  margin-top: 20px;
}

.emailInput {
  width: 100%;
  border: none;
  border-radius: 100px;
  padding-left: 20px;
  font-size: 16px; /* todo: create body01 fontsize var*/
  font-family: var(--colfax);
}

.image {
  vertical-align: middle;
  width: 100%;
}

.subscribeButton {
  display: flex;
  align-items: center;
  background-color: var(--sub-purple-400);
  color: var(--soft-white-100);
  padding: 14px 24px 14px 24px;
  border-radius: 100px;
  border: 1px solid var(--sub-purple-500);
  height: 40px;
  margin-left: -15%;
  font-size: 16px;
  font-family: var(--colfax-regular);
  cursor: pointer;
}

@media(min-width: 1024px) {
  .container{
    width: 836px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
  }

  .emailContainer {
    margin-top: 100px;
  }

  .CTABlock{
    grid-column: 1;
    grid-row: 1;
  }

  .imageContainer {
    grid-column: 2;
    grid-row: 1;
  }
}
