:root {
  /* Colors */
  --sub-blue-900: #2952DD;
  --sub-blue-800: #045CFC;
  --sub-blue-700: #006FFF;
  --sub-blue-600: #0083FF;
  --sub-blue-500: #0093FF;
  --sub-blue-400: #00A4FF;
  --sub-blue-300: #3CB6FF;
  --sub-blue-200: #84CBFF;
  --sub-blue-100: #B8DEFF;
  --sub-blue-50: #E1F2FF;

  --sub-purple-900: #0000CD;
  --sub-purple-800: #0000DB;
  --sub-purple-700: #2E00E3;
  --sub-purple-600: #4801EC;
  --sub-purple-500: #5807F2;
  --sub-purple-400: #773BFF;
  --sub-purple-300: #9563FF;
  --sub-purple-200: #B693FE;
  --sub-purple-100: #D4BEFE;
  --sub-purple-50: #EFE5FF;

  --dark-rock-800: #403F4C;
  --soft-white-100: #F6F6F6;

  /* Links */
  a {
    text-decoration: none;
    color: var(--dark-rock-800);
  }

  /* Typography */
  --colfax-medium: "Colfax Medium", Roboto, sans-serif;
  --colfax-regular: Colfax, Roboto, sans-serif;
  /* TODO: Replace placeholder TNR for actual Acta*/
  --acta-book: "Acta Book", "Times New Roman", serif;

  body {
    font-size: 14px;
    text-rendering: optimizeLegibility;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  @media (min-width: 1080px) {

    body {
      font-size: 20px;
    }

    h1 {
      font-size: 160px;
    }

    h2 {
      font-size: 113px;
    }

    h3 {
      font-size: 80px;
    }

    h4 {
      font-size: 56px;
    }

    h5 {
      font-size: 40px;
    }

    h6 {
      font-size: 28px;
    }
  }
}

