@import 'fonts.css';

:root {
  /* Colors */
  --sub-blue-900: #2952DD;
  --sub-blue-800: #045CFC;
  --sub-blue-700: #006FFF;
  --sub-blue-600: #0083FF;
  --sub-blue-500: #0093FF;
  --sub-blue-400: #00A4FF;
  --sub-blue-300: #3CB6FF;
  --sub-blue-200: #84CBFF;
  --sub-blue-100: #B8DEFF;
  --sub-blue-50: #E1F2FF;

  --sub-purple-900: #0000CD;
  --sub-purple-800: #0000DB;
  --sub-purple-700: #2E00E3;
  --sub-purple-600: #4801EC;
  --sub-purple-500: #5807F2;
  --sub-purple-400: #773BFF;
  --sub-purple-300: #9563FF;
  --sub-purple-200: #B693FE;
  --sub-purple-100: #D4BEFE;
  --sub-purple-50: #EFE5FF;

  --sub-orange-800: #F36312;

  --dark-rock-800: #403F4C;
  --soft-white-100: #F6F6F6;

  /* Typography */
  --colfax: "Colfax", Roboto, sans-serif;
  --acta-bold: "Acta", "Times New Roman", serif;
  --font-weight-500: 500;
  --font-weight-800: 800;

  /* Content Sizing */
  --content-width: max(calc(100% - 32px), calc(100% - 160px));


  /*  Font Sizes */
  --size-160: 160px;
  --size-113: 113px;
  --size-80: 80px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-36: 36px;
  --size-32: 32px;
  --size-24: 24px;
  --size-28: 28px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-12: 12px;
  --size-13: 13px;
  --size-10: 10px;
}    /* end of :root */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.outline {
  letter-spacing: 0.1rem;
}

body {
  max-width: 1728px;
  margin: 0 auto;
  font-size: var(--size-14);
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--colfax);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: var(--dark-rock-800);
}

h1 {
  font-size: var(--size-56);
}

h2 {
  font-size: var(--size-48);
}

h3 {
  font-size: var(--size-36);
}

h4 {
  font-size: var(--size-32);
}

h5 {
  font-size: var(--size-24);
}

h6 {
  font-size: var(--size-18);
}

@media (min-width: 1080px) {

  body {
    font-size: var(--size-20);
  }

  h1 {
    font-size: var(--size-160);
  }

  h2 {
    font-size: var(--size-113);
  }

  h3 {
    font-size: var(--size-80);
  }

  h4 {
    font-size: var(--size-56);
  }

  h5 {
    font-size: var(--size-40);
  }

  h6 {
    font-size: var(--size-28);
  }

}
