/* Top block */
.highlights {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 45px;
  padding: 30px 20px;
}

.highlights h6 {
  text-transform: none;
  transition: text-decoration 0.3s ease;
}

.highlights h6:hover {
  text-decoration: underline;
}

.overline {
  font-size: var(--size-16);
  font-weight: 400;
  letter-spacing: 0.15rem;
}

.mainHighlight {
  background-color: var(--sub-purple-400);
  color: var(--soft-white-100);
}

.mainHighlight a {
  color: inherit; /* Keeps anchor color consistent with parent */
}

.secondaryHighlight {
  display: none;
}

/* Metadata container */
.metadataContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.readTime {
  display: flex;
  align-items: center;
  gap: 10px;
}

.readTime svg {
  margin-left: 20px;
}

.categories {
  display: flex;
  gap: 10px;
}

/* Responsive styles for larger screens */
@media (min-width: 1024px) {

  .mainHighlight,
  .secondaryHighlight {
    grid-column: 2;
  }

  .secondaryHighlight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 45px;
    border: 1px solid var(--dark-rock-800);
  }
}
