.container {
  background-color: var(--sub-purple-400);
  color: var(--soft-white-100);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.backButton {
  display: block;
  font-family: Colfax, sans-serif;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.metadataContainer {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  padding-left: 95px;
  padding-bottom: 40px;
  column-gap: 100px;
}

.metadata {
  display: flex;
  flex-direction: column;
  grid-column: 1/1;
  gap: 10px;
}

.metadata p {
  display: flex;
  padding-top: 20px;
  gap: 40px;
  font-size: var(--size-14);
  font-weight: bold;
}

.metadata span {
  display: flex;
  gap: 10px;
  align-items: center;
}

.featuredImageContainer {
  display: flex;
  padding-left: 30px;
  grid-column: 2/2;
}

.featuredImage {
  width: max(120px, 294px);
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}



@media (min-width: 1080px) {

  .container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }

  .backButton {
    padding-left: 95px;
    color: var(--soft-white-100);
  }

}
