.container {
  width: 100%;
  padding: 20px;
}

.featuredImage {
  margin: auto;
  border-radius: 45px;
}

.summary {
  font-size: var(--size-18);
  margin: 20px auto;
}

.content {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.content h1 h2 h3 h4 h5 h6 {
  font-size: var(--size-24);
}

