.container {
  width: 100%;
  padding: 20px;
}

.featuredImage {
  position: relative;
  width: 80%;
  height: 340px;
  margin: auto;
  border-radius: 45px;
}

.summary {
  font-size: var(--size-18);
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  font-size: var(--size-26);
  margin-bottom: 20px;
}

.content p{
  margin-bottom: 20px;
}

.content a {
  color: var(--sub-purple-800);
  font-weight: bold;
}

.content code {
  background-color: var(--soft-white-100);
  font-weight: bold;
}

@media (min-width: 1024px) {

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5 {
    font-size: var(--size-28);
  }


}
