/* Search bar */
.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.closeButtonContainer {
  display: flex;
  padding: 40px;
  justify-content: flex-end;
}

.searchContainer {
  position: var(--dynamic-position);
  inset: 0;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  padding-top: 20px;
  height: 100%;
  background: white;
  overflow: scroll;
}

.searchBar {
  display: flex;
  border-width: var(--dynamic-border-width);
  border-style: solid;
  border-color: var(--dark-rock-800);
  border-radius: var(--dynamic-border-radius);
  overflow: hidden;
  padding: 10px 40px 10px 20px;
  gap: 10px;
  align-items: center;
  background: white;
  width: 90%;
  margin: auto;

}

.searchInput {
  display: flex;
  border: none;
  width: 100%;
}

.searchInput:focus,
.searchInput:active {
  border: none;
  outline: none;
}

.searchSuggestions {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.searchResults {
  display: grid;
  gap: 40px;
}

.recommendedTopics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.mostRecent {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.searchBox {
  display: flex;
  background: white;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  width: 100%;
}

.closeIcon {
  display: none;
}

@media (min-width: 1024px) {
  .searchBar {
    width: 836px;
  }

  .searchBox {
    display: flex;
    background: white;
    flex-direction: column;
    gap: 40px;
    border: 1px solid var(--dark-rock-800);
    border-top: none;
    padding: 40px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 836px;
  }


  /* Search bar */
  .container {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  .searchContainer {
    position: var(--dynamic-position);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;

  }

  .searchBar {
    display: flex;
    border-radius: 100px 100px var(--dynamic-border-radius) var(--dynamic-border-radius);
    border: 1px solid var(--dark-rock-800);
    border-bottom: var(--dynamic-border-color);
    width: 328px;
    overflow: hidden;
    padding: 10px 40px 10px 20px;
    gap: 10px;
    align-items: center;
    background: white;
  }

  .searchInput {
    display: flex;
    border: none;
    width: 100%;
  }

  .searchInput:focus,
  .searchInput:active {
    border: none;
    outline: none;
  }

  .searchSuggestions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .searchResults {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .recommendedTopics {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .mostRecent {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .closeButtonContainer {
    display: none;
  }


}
