.mobileAudioPlayer,
.desktopAudioPlayer {
  display: flex;
  align-items: center; /* Align items in both players */
}

.mobileAudioPlayer {
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.mobileAudioPlayer .duration,
.desktopAudioPlayer .duration {
  display: inline-block;
  width: 75px;
}

.mobileAudioPlayer span,
.desktopAudioPlayer span {
  white-space: nowrap;
  font-size: var(--size-12);
  font-weight: bold;
  padding: 0;
}

.mobileAudioPlayer input[type="range"],
.desktopAudioPlayer input[type="range"] {
  -webkit-appearance: none;
  height: 6px;
  border-radius: 100px;
  border: none;
  background: var(--dynamic-gradient);
  width: 100%;
  cursor: pointer;
}

.mobileAudioPlayer input[type="range"]::-moz-range-thumb,
.desktopAudioPlayer input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 0;
  width: 0;
  border: none;
}

.mobileAudioPlayer audio,
.desktopAudioPlayer audio {
  width: 100%;
}

.mobileAudioPlayer button,
.desktopAudioPlayer button {
  display: flex;
  align-self: center;
  border: none;
  background: transparent;
  padding: 0;
  color: var(--soft-white-100);
  cursor: pointer;
}

.playPauseButton {
  align-self: flex-start !important;
}

.mobileButtonContainer {
  display: flex;
  gap: 20px;
}

.moveFifteen {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
}

.desktopAudioPlayer {
  display: none;
}

@media (min-width: 1024px) {
  .desktopAudioPlayer {
    margin-top: 40px;
    gap: 20px;
  }

  .mobileAudioPlayer {
    display: none;
  }
}
