.contentCard {
  padding: 30px 20px;
  height: min-content;
  border: 1px solid var(--dark-rock-800);
}

.contentMetaContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentMetaContainer h6 {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.contentMetaContainer h6:hover {
  text-decoration: underline;
}

.dateAndDuration {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dateAndDuration span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 280px;
  height: 280px;
  margin: auto;
}

@media (min-width: 1024px) {
  .imageContainer {
    width: 340px;
    height: 340px;
  }
}
